<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


   <!-- 配置jedis-->
    <bean id="jedis" class="redis.clients.jedis.Jedis">
        <constructor-arg index="0" type="java.lang.String" value="${redis.host}"/>
        <constructor-arg index="1" type="int" value="${redis.port}"/>
    </bean>

   <!-- <bean id="jedisPool" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="200" />
        <property name="testOnBorrow" value="true" />
    </bean>-->

    <!--创建redis连接实例
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="port" value="9876"/>
        <property name="hostName" value="192.168.110.129"/>
        <property name="poolConfig" ref="jedisPool"/>
    </bean>

    <bean id="redisSerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="keySerializer" ref="redisSerializer"/>
        <property name="stringSerializer" ref="redisSerializer"/>
        <property name="hashKeySerializer" ref="redisSerializer"/>
    </bean>-->

</beans>