<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.MenuDao">

    <resultMap id="menuMap" type="Menu">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <result column="href" property="href"/>
        <collection property="children" select="com.baizhi.dao.MenuDao.selectOne" column="id"/>
    </resultMap>


    <!--查询所有-->
    <select id="selectAll" resultMap="menuMap">
        select id,title,icon,href,lev,parentid from kfsy_menu where lev = '1'
    </select>

    <!--查询一个-->
    <select id="selectOne" parameterType="String" resultType="Menu">
        select id,title,icon,href,lev,parentid from kfsy_menu where parentid = #{id}
    </select>

</mapper>
